/****** CSS RESET ******/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/****************** CSS UTILI ********************/
.flex{
    display: flex;
}

.jc-between {
    justify-content: space-between;
}

.d-none {
    display: none;
}

.ta-center {
    text-align: center;
}

.bg-violet {
    background-color: #9792E4;
}

.bg-white {
    background-color: white;
}


.debug header,
.debug header nav,
.debug .demo-application,
.debug .card,
.debug .strategic-planning,
.debug .content-planning,
.debug .bg-white {
    border: 2px dashed black;
}

/********************** CONTAINER PER MOBILE E TABLET ********/
.container {
    max-width: 100%;
}

/****************** CSS HEADER ******************/
header.bg-l-blue {
    background-color: #0084FD;
    padding: 1rem;
}

header a {
    color: white;
}

/**************** CSS MAIN ******************/

/************* CSS SECTION DEMO APPLICATION *************/
.demo-application {
    padding: 4rem 2rem;
}

.demo-application > .flex {
    flex-direction: column;
    gap: 1rem;
}

.demo-application h3,
.demo-application i {
    color: #0C89FD;
}

.demo-application .card {
    background-color: #B5DDFF;
    padding: 2rem 2rem;
    line-height: 1.5rem;
}

.demo-application .card * {
    padding: 1rem;
}

.demo-application .card a > i{
    color: white;
    text-align: center;
}
/************* FINE CSS SECTION DEMO APPLICATION *************/

/************* CSS SECTION STRATEGIC PLANNING *************/
.strategic-planning {
    padding: 4rem 2rem;
    color: white;
    line-height: 1.5rem;
}

.strategic-planning * {
    padding: 1rem;
}

.strategic-planning .bg-white {
    color: black;
}

.strategic-planning span.circle {
    display: inline-block;
    background-color: #9792E4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.strategic-planning span.circle i {
    transform: translate(-30%, -20%);
}
