/****** CSS RESET ******/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/****************** CSS UTILI ********************/
.flex{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fd-row {
    flex-direction: row;
}

.jc-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.d-none {
    display: none;
}

.ta-center {
    text-align: center;
}

.bg-violet {
    background-color: #9792E4;
}

.bg-white {
    background-color: white;
}

.c-white {
    color: white;
}

.c-violet {
    color: #9792E4;
}

.bg-black {
    background-color: black;
}

.img-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.debug header,
.debug header nav,
.debug .demo-application,
.debug .card,
.debug .strategic-planning,
.debug .content-planning,
.debug .bg-white,
.debug .testimonials,
.debug .content-testimonials,
.debug .card-testimonials,
.debug .benefits,
.debug .about-us,
.debug .content-about-us,
.debug .card-about-us,
.debug .get-started,
.debug .content-get-started {
    border: 2px dashed black;
}

/********************** CONTAINER PER MOBILE E TABLET ********/
.container {
    max-width: 100%;
}

/****************** CSS HEADER ******************/
header.bg-l-blue {
    background-color: #0084FD;
    padding: 1rem 2rem;
}

header a {
    color: white;
}

header .bg-white {
    padding: 0.5rem;
    border-radius: 20px;
    color: black;
    text-decoration: none;
}
/**************** CSS MAIN ******************/

/************* CSS SECTION DEMO APPLICATION *************/
.demo-application {
    padding: 4rem 2rem;
}

.demo-application h3,
.demo-application i {
    color: #0C89FD;
}

.demo-application .card {
    background-color: #B5DDFF;
    padding: 2rem 2rem;
    line-height: 1.5rem;
    border-radius: 50px;
}

.demo-application .card * {
    padding: 1rem;
}

.demo-application a {
    background-color: #0084FD;
    border-radius: 20px;
}

.demo-application .card a > i{
    color: white;
    text-align: center;
}
/************* FINE CSS SECTION DEMO APPLICATION *************/

/************* CSS SECTION STRATEGIC PLANNING *************/
.strategic-planning {
    padding: 4rem 2rem;
    color: white;
    line-height: 1.5rem;
}

.strategic-planning * {
    padding: 1rem;
}

.strategic-planning .bg-white {
    color: black;
    border-radius: 50px;
}

.strategic-planning span.circle {
    display: inline-block;
    background-color: #9792E4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.strategic-planning span.circle i {
    transform: translate(-30%, -20%);
}
/************* FINE CSS SECTION STRATEGIC PLANNING *************/

/************* CSS SECTION TESTIMONIALS *************/
.testimonials {
    padding: 4rem 2rem;
    line-height: 1.5rem;
    text-align: center;
}

.testimonials * {
    padding: 1rem;
}

.testimonials .card-testimonials {
    color: white;
    border-radius: 50px;
}
/************* FINE CSS SECTION TESTIMONIALS *************/

/************* CSS SECTION BENEFITS *************/
.benefits {
    padding: 4rem 2rem;
    line-height: 1.5rem;
}

.benefits .card-benefits{
    border-radius: 20px;
}

.card-benefits * {
    padding: 2rem;
}

.benefits h2 {
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: 2rem;
}

.benefits a {
    padding: 1rem 3rem;
    background-color: #9792E4;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.card-benefits h4 {
    padding: 0 2rem;
}
/************* FINE CSS SECTION BENEFITS *************/

/************* CSS SECTION ABOUT-US *************/
.about-us {
    padding: 4rem 2rem;
    line-height: 1.5rem;
}

.content-about-us *,
.card-about-us * {
    padding: 1.5rem 2rem;
}

.card-about-us div * {
    padding: 0;
}

.card-about-us a {
    padding: 0.5rem;
    background-color: #9792E4;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}
/************* FINE CSS SECTION ABOUT-US *************/

/************* CSS SECTION GET STARTED *************/
.get-started {
    padding: 4rem 2rem;
    line-height: 1.5rem;
    color: white;
}

.content-get-started * {
    padding: 1.5rem 2rem;
}

.content-get-started div a {
    padding: 1rem 2rem;
    background-color: white;
    color: #9792E4;
    text-decoration: none;
    border-radius: 20px;
}

.content-get-started address a {
    padding: 0;
}
/************* FINE CSS SECTION GET STARTED *************/

/**************** CSS FOOTER *******************/
footer {
    color: white;
}

.content-footer {
    padding: 2rem 2rem;
    line-height: 1.5rem;
}

.content-footer * {
    padding: 3rem 0;
}

.content-footer span {
    text-decoration: underline;
    color: #0084FD;
}


/******************* CSS RESPONSIVE TABLET ****************/
 @media screen and (min-width: 768px) {
    .demo-application .flex {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .demo-application .card.double {
        width: calc(100% / 3 * 2 - 0.5rem);
    }

    .demo-application .card {
        width: calc(100% / 3 - 1rem);
    }

    .testimonials .card-testimonials {
        flex-direction: row;
        text-align: left;
    }

    .benefits .flex {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .benefits .card-benefits {
        width: calc(100% / 2 - 1rem);
    }

    .benefits h2 {
        width: 100%;
    }

    .about-us .flex {
        flex-direction: row;
        justify-content: space-between;
    }

 }

 @media screen and (min-width:1100px) {
    .container {
        width: 1000px;
        margin: 0 auto;
    }

    .d-none {
        display: block;
    }

    .d-block {
        display: none;
    }

    header ul {
        display: flex;
        list-style-type: none;
    }

    header li {
        padding: 0 1rem;
    }

    .demo-application .card.double.flex {
        flex-direction: row;
    }

    .demo-application .card.double.flex > div {
        width: calc(100% / 2 - 1rem);
    }

    .strategic-planning .flex {
        flex-direction: row;
    }

    .testimonials .card-testimonials {
        flex-direction: row;
        text-align: left;
    }

    .benefits .card-benefits {
        width: calc(100% / 3 - 1rem);
    }

    .benefits h2 {
        width: 100%;
    }
 }